@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
  --bg-color: #f7f7f7;
  --footer-color: #01acfd;
  --font-family: "Quicksand", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
/* nav code */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
  max-width: 90%;
  margin: 0 auto;

}
.brand{
  display: flex;
  align-items: center;
  justify-content: center;

}
.brand h1{
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
.nav_item{
  display: flex;
  justify-content: space-between;
}
.nav_list{
  margin-left: 1.5rem;
}
.fist{
color: orange;
font-size: 1.1rem;
font-weight: bold;
}
.second{
color: slateblue;
font-size: 1.1rem;
font-weight: bold;
}
.third{
color: #05D4DF;
font-size: 1.1rem;
font-weight: bold;
}
.four{
color: #5D58EF;
font-size: 1.1rem;
font-weight: bold;
}
.btn-contact{
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}
#menu_icon{
  display: none;
}
@media screen and (max-width:576px) {
  header{
    border-bottom: 1px solid orange;
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .brand{
    margin: 0;
    padding-bottom: 1rem;

  }
  .brand h1{
    display: none;
  }
 .brand img{
  max-width: 90%;
 }
  .contact_btn{
    margin: 0;
  }
  .btn-contact{
    margin: 0;
    display: none;
  }
  .nav_menu{
    display: none;
    margin: 0;
  }
  #menu_icon{
    display:block;
   font-size: 2rem;
   margin-right: 1rem;
  }
}
@media screen and (min-width:577px) and (max-width:992px) {
  header{
    border-bottom: 1px solid orange;
  }
  .nav_menu{
    display: none;
    margin: 0;
  }
  nav{
    margin: 0;
    padding: 0 1rem;
  }
  .brand{
    margin: 0;
    padding-bottom: 1rem;
  }
  .contact_btn{
    margin: 0;
  }
  .btn-contact{
    margin: 0 1rem;
    
  }
}
.banner_section{
  display: flex;
  max-width: 1400px;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
}
.banner_content{
  flex: 1;
}
.banner_content h1{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.banner_content p{
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.banner_btn{
  background-color: #000;
  color:  #fff;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.bn-color-2{
color: skyblue;
}
.banner-color1{
  color:  orange;
}
.banner_section img{
  flex: 1;
  max-width: 100%;
}
@media screen and (max-width:576px) {
  .banner_section{
    flex-direction: column-reverse;
  }
  .banner_section img{
    margin-bottom: 2rem;
  }
  .banner_content h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

.banner_content p{
  text-align: center;
}
.banner_btn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  display: block;
}
}
@media screen and (min-width:577px) and (max-width:992px) {
  .banner_section{
    flex-direction: column;
  }
  .banner_content p, h1, button{
    margin: 2rem auto;
    display: block;
    text-align: center;
  }
}