@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bg-color: #f7f7f7;
  --footer-color: #01acfd;
  --font-family: "Quicksand", serif;
  --Raleway-font-family: "Raleway", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
/* nav code */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
  max-width: 90%;
  margin: 0 auto;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
.nav_item {
  display: flex;
  justify-content: space-between;
}
.nav_list {
  margin-left: 1.5rem;
}
.fist {
  color: orange;
  font-size: 1.1rem;
  font-weight: bold;
}
.second {
  color: slateblue;
  font-size: 1.1rem;
  font-weight: bold;
}
.third {
  color: #05d4df;
  font-size: 1.1rem;
  font-weight: bold;
}
.four {
  color: #5d58ef;
  font-size: 1.1rem;
  font-weight: bold;
}
.btn-contact {
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 0.9rem 2.3rem;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}
#menu_icon {
  display: none;
}
@media screen and (max-width: 576px) {
  header {
    border-bottom: 1px solid orange;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .brand {
    margin: 0;
    padding-bottom: 1rem;
  }
  .brand h1 {
    display: none;
  }
  .brand img {
    max-width: 90%;
  }
  .contact_btn {
    margin: 0;
  }
  .btn-contact {
    margin: 0;
    display: none;
  }
  .nav_menu {
    display: none;
    margin: 0;
  }
  #menu_icon {
    display: block;
    font-size: 2rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header {
    border-bottom: 1px solid orange;
  }
  .nav_menu {
    display: none;
    margin: 0;
  }
  nav {
    margin: 0;
    padding: 0 1rem;
  }
  .brand {
    margin: 0;
    padding-bottom: 1rem;
  }
  .contact_btn {
    margin: 0;
  }
  .btn-contact {
    margin: 0 1rem;
  }
}
/* banner section code */
.banner_section {
  display: flex;
  max-width: 1400px;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
}
.banner_content {
  flex: 1;
}
.banner_content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.banner_content p {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.banner_btn {
  background-color: #000;
  color: #fff;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.bn-color-2 {
  color: skyblue;
}
.banner-color1 {
  color: orange;
}
.banner_section img {
  flex: 1;
  max-width: 100%;
}
@media screen and (max-width: 576px) {
  .banner_section {
    flex-direction: column-reverse;
  }
  .banner_section img {
    margin-bottom: 2rem;
  }
  .banner_content h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }
  .banner_content p {
    text-align: center;
    margin-bottom: 2rem;
  }
  .banner_btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2rem;
    display: block;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner_section {
    flex-direction: column;
  }
  .banner_content p,
  h1,
  button {
    margin: 2rem auto;
    display: block;
    text-align: center;
  }
}
/* Standard_Curriculum  code*/
.Standard_Curriculum {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: transparent;
}

.Curriculum_title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  background: transparent;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  background: transparent;
}
.card img {
  background: transparent;
}
.card p {
  background: transparent;
  font-family: var(--Raleway-font-family);
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.8rem;
  color: #808080;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  padding: 2.4rem;
  text-align: center;
  background: transparent linear-gradient(#def5ff, #ffffff);
  border-radius: 1rem;
  margin-top: 3rem;
  cursor: pointer;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  background: transparent;
}
.card button {
  color: #64c8ff;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
}
#card2 {
  background: transparent linear-gradient(#fff4dc, #ffffff);
}
#card2 button {
  color: #f0aa00;
}
.card3_btn {
  color: #8700ff;
}
.arrow_btn {
  margin: 2rem 0 0 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.arrow_btn i {
  background-color: orange;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .Standard_Curriculum {
    padding: 0.1rem;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }
  .card {
    margin-top: 0.3rem;
    max-width: 100%;
  }
  .card p {
    font-size: 10px;
  }
  .Curriculum_title {
    font-family: var(--Raleway-font-family);
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .arrow_btn {
    display: none;
  }
}
@media screen and (min-width: 578px) and (max-width: 992px) {
  .Standard_Curriculum {
    padding: 0.1rem;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }
  .card {
    margin-top: 0.3rem;
    max-width: 100%;
  }
  .Curriculum_title {
    font-family: var(--Raleway-font-family);
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}
/* story code */
#story_area {
  background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 244, 220) 59%,
      rgba(255, 244, 220, 0.65) 100%
    ),
    url("../assets/bg.png") no-repeat;
  max-width: 100%;
}
.story_container {
  max-width: 96%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
}
#story_area h1 {
  background: transparent;
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
.galary {
  display: flex;
  background: transparent;
  margin-bottom: 3rem;
  gap: 1rem;
}
.galary img {
  border-radius: 1rem 1rem 0 0;
  min-width: 100%;
}
.left_card {
  flex: 1;
  background-color: #fff;
  border-radius: 1rem 1rem 1rem 1rem;
}
.left_card h2 {
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem 0 2rem;
  margin-bottom: 1rem;
  background: transparent;
}
.left_card button {
  position: relative;
  top: -30px;
  left: 30px;
}
.left_card p {
  padding: 1rem 2rem 2rem 2rem;
  color: #666666;
  font-family: var(--Raleway-font-family);
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
}
.left_card button {
  color: #fff;
  background-color: #3cd8e8;
  padding: 1rem;
  border-radius: 1rem;
  font-family: var(--Raleway-font-family);
  font-size: 1rem;
  font-weight: 500;
}
.right_imas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background: transparent;
  border-radius: 1rem 1rem 1rem 1rem;
}
.right_card {
  border-radius: 1rem 1rem 1rem 1rem;
  overflow: hidden;
}
#story-2,
.story-2 {
  background-color: #95b226;
  padding: 0.6rem;
  border-radius: 1rem;
  position: relative;
  top: -30px;
  left: 30px;
  font-family: var(--Raleway-font-family);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
#story3 {
  background-color: #5d58f0;
}
.right_card p {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: bold;
  padding: 0 2rem;
}
.story-btn {
  margin: 0 auto;
  display: block;
  background-color: black;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .left_card {
    display: none;
  }
  .right_imas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
  }

  #story-2,
  .story-2 {
    padding: 0.5rem;
    border-radius: 1rem;
    position: relative;
    top: -20px;
    left: 20px;
    font-size: 0.5rem;
  }
  .right_card p {
    font-family: var(--font-family);
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0 1rem 0.4rem;
  }
  .right_card {
    max-width: 96%;
  }
  .right_card img {
    max-width: 100%;
  }
  .story-btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 578px) and (max-width: 1050px) {
  .left_card {
    display: none;
  }
  .right_imas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .right_card img {
    max-width: 100%;
  }
  .right_card p {
    max-width: 100%;
    margin-top: -4rem;
    padding-bottom: 1.4rem;
  }
  #story-2,
  .story-2 {
    position: relative;
    top: -50px;
    left: -20px;
  }
}
/* footer code */
.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 100%;
  background-color: #01acfd;
  padding: 100px;
  color: #fff;
  gap: 1rem;
}
.about_footer {
  flex: 2;
  background: transparent;
  text-align: left;
}
.touch,
.footer_menu
{
  flex: 1;
  text-align: left;
  background: transparent;
}
.about_footer p {
  background: transparent;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: normal;
  margin-top: 2rem;
  text-align: left;
}
.Footer_brand {
  background: transparent;
  display: inline-flex;
}
.Footer_brand h1 {
  background: transparent;
  margin-left: 0.7rem;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 2rem;
}
.Footer_brand img {
  background: transparent;
}
.footer_menu h1, ul li, ul {
  background: transparent;
}
.footer_list{
  margin-top: 1rem;
}
.footer_link{
  background-color: #01acfd;
  color: #fff;
  font-weight: 500;
}
.touch{
  margin-top: 0.5rem;
}
.touch h3{
  background: transparent;
  font-weight: 26px;
  font-weight: bold;
}
 .footer_icons{
  background: transparent;

}
.footer_icons img{
  background: transparent;
  margin-top: 2rem;

}